/*--- STYLESHEET for WEBSITE---  */
.container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}
	@media screen and (max-width: 650px) {
		.container {
		width: 100%;
	}
	}

/*---  START of SECTION FOR HEADER AND NAVIBAR  ---*/
.sectionlogobanner {
	display:  flex;
	flex-direction:  row;
	justify-content:  space-around;
	align-items:  center;
	background:  white;
}
.sectionlogo img {
	width: 70%;
}
.sectionbanner img {
	width:  100%;
	align-items: flex-end;
}
.sectionnavibar {
	display:  flex;
	flex-direction:  row;
	background-color:  #8E1616;
	color: white;
	font-family:  arial;
	font-size:  1.5em;
}
#navibar a {
  color: white;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none;
}
#navibar a:hover {
  background-color: #dddd;
  color: black; 
}

/*---  END of SECTION FOR HEADER AND NAVIBAR  ---*/
/*---  START of SECTION FOR QUOTE SECTION  ---*/

.sectionquotecomplete {
	background-image: url(../img/citymovingspeed.jpg);
	padding-top: 1px;
	padding-bottom:  1px;
}
.sectionquoteinner {
	position: relative;
	margin: 0 auto;
	width: 80%;
	background-color: rgb(255,255,255,0.7);
	padding: 20px 0px 100px 0px;
	bottom:  -80px;
	border: 2px solid grey;
	box-shadow: 2px 2px 2px 0px;
}
#s1 {
	font-family: arial;
	font-size: 2em;
	color: white;
	padding-left: 40px;
}
#quoteheadertext {
	font-family:  arial;
	font-size: 3.5em;
	color: black;
	text-align: center;
}
.tablesetting {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px 100px 10px 100px;
}
.forminputrows {
	display: flex;
	flex-direction: row;
	justify-content:  space-around;
	padding: 20px;
}
#calculatebutton {
	padding: 40px 75px 40px 75px;
}
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
label {
	font-family: arial;
	font-size: 1.2em;
}
input[type=submit] {
	width: 100%;	
  	padding: 14px 20px;
  	margin: 8px 0;
  	border:  none;
   	border-radius:  25px;
  	background-color: #4CAF50;
  	cursor: pointer;
  	color: white;
  	font-size: 2em;
  	font-family: arial;
}
input[type=submit]:hover {
	background-color: #45a049;
	border-radius:  25px;
	border: none;
}
#resultoutput {
 	text-align: center;
 	font-size: 2.5em;
 	font-family: arial;
 	color: darkgreen;
 	padding: 10px 40px 10px 40px;
}

	/*Media Section Here--*/
	@media screen and (max-width: 650px) {
		#s1 {
		font-size: 1.5em;
		padding-left: 10px;
	}
		#quoteheadertext {
		font-size: 2.5em;
	}
		.tablesetting {
		padding: 0px;
	}
		.forminputrows {
		flex-direction: column;
		padding: 1px;
	}
		#calculatebutton {
		padding: 1px;
	}
		input[type=submit] {
		width: 100%;	
	  	padding: 5px 20px;
	  	margin: 2px 0;
	  	font-size: 1em;
	  	font-family: arial;
	}
	} /*media section ends */


/*---  END of SECTION FOR QUOTE SECTION  ---*/
/*---  START of SECTION FOR GENERAL PARAGRAPH  ---*/

.sectioninfotext {
	background-color: #CECECE;
	text-align:  center;
	border:  1px soid black;
	font-family: arial;
	font-size: 2em;
	padding: 80px 0px 10px 0px;
}
#s2 {
	font-size: 2em;
}
	
	/*mediasection here*/
	@media screen and (max-width: 650px) {
		.sectioninfotext {
		font-size: 1.3em;
	}
		#s2 {
		font-size: 1.3em;
	}
	} /*media section ends*/

/*---  END of SECTION FOR GENERAL PARAGRAPH  ---*/
/*---  START of SECTION FOR COLUMN OFFERINGS ---*/

.sectionoffering {
	display:  flex;
	flex-direction: row;
	justify-content:  space-around;

}
#firstcolumnoffering, #secondcolumnoffering  {
	font-family:  arial;
	width: 350px;
	height: 300px;
	margin:  10px;
	padding: 10px;
	box-shadow: 0px 4px 5px 1px #999999;
	border-top: 2px solid black;
}
#s4 {
	font-size: 1.5em;
	font-weight: bold;
	color: darkblue;
}
#s5 {
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}
#para1 {
	padding-top: 20px;
	color: grey;
}
li:before {
	content: '✔';
	color: #90D3D5;   
    margin-left: 1em;
    margin-right: 1.2em;
}
li {
	margin: 10px 0px 10px 0px;
}
ul {
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}

	/* THIS IS THE MEDIA SECTION FOR THE NEXT PART -->*/
	@media screen and (max-width: 650px) {
		#firstcolumnoffering, #secondcolumnoffering  {
		height: 380px;
		margin:  4px;
		padding: 4px;
		box-shadow: 0px 4px 5px 1px #999999;
		border-top: 2px solid black;
	}
		#s4 {
		font-size: 1.2em;
	}
		#s5 {
		font-size: .9em;
	}
		#para1 {
		padding-top: 20px;
		color: grey;
	}
		li:before {
    	margin-left: .5em;
    	margin-right: 0.9em;
	}
		li {
		margin: 5px 0px 5px 0px;
	}
		ul {
   		padding-left: 10px;
   		text-indent: 2px;
	}
	} /* THIS IS THE MEDIA SECTION ENDING THE NEXT PART -->*/

/*---  END of SECTION FOR COLUMN OFFERINGS ---*/
/*---  START of SECTION FOR FOOTER ---*/
.footer {
	background-color: black;
}
#navibarbottom {
	display: flex;
	flex-flow: row;
	font-family:  arial;
	padding:  5px;
	font-size:  1em;
}
#navibarbottom a {
  color: white;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none;
}
#navibarbottom a:hover {
  background-color: #dddd;
  color: black;
}
.footerlogo img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}
.copyright {
  text-align: center;
  font-family: arial;
  color: white; }
/*---  END of SECTION FOR FOOTER ---*/
/*--- END of ENTIRE WEBSITE CONTAINER/*