/* Stylesheet for Website: Header, navi, footer */
.container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	border:  1px solid black;
}
/*---  SECTION FOR HEADER AND NAVIBAR  ---*/
.sectionlogobanner {
	display:  flex;
	flex-direction:  row;
	justify-content:  space-around;
	align-items:  center;
	background:  white;
}

.sectionlogo img {
	width: 70%;
}

.sectionbanner img {
	width:  100%;
	align-items: flex-end;
}
.sectionnavibar {
	display:  flex;
	flex-direction:  row;
	background-color:  #8E1616;
	color: white;
	font-family:  arial;
	font-size:  1.5em;
}

#navibar a {
  color: white;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none;
}

#navibar a:hover {
  background-color: #dddd;
  color: black; 
}

#todaysdate {
	align-self:  flex-end;
}
/*---  SECTION ENDS FOR HEADER AND NAVIBAR  ---*/
/*---  SECTION BEGINS FOR QUOTE SECTION AND ALL IN IT  ---*/

.sectionquotecomplete {
	background-image: url(../img/citymovingspeed.jpg);
	padding-top: 1px;
	padding-bottom:  1px;
}

.sectionquoteinner {
	position: relative;
	margin: 0 auto;
	width: 80%;
	background-color: rgb(255,255,255,0.7);
	padding: 20px 0px 100px 0px;
	bottom:  -80px;
	border: 2px solid grey;
}
#s1 {
	font-family: arial;
	font-size: 2em;
	color: white;
	padding-left: 40px;
}

#quoteheadertext {
	font-family:  arial;
	font-size: 3.5em;
	color: black;
	text-align: center;
}
.inputtableform {
	width:  100%;
	float: center;
	padding: 0px 150px 0px 150px;
	border:  1px solid black;
}
#calculatebutton {
	width: 100%;
	float: center;
	padding: 40px 100px 40px 100px;
	border:  1px solid black;

}
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
label {
	font-family: arial;
	font-size: 1.2em;
}
input[type=submit] {
	width: 100%;
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	font-size: 2em;
  	font-family: arial;
}

input[type=submit]:hover {
  background-color: #45a049;
 }



/*---  SECTION ENDS FOR QUOTE SECTION AND ALL IN IT  ---*/
/*---  SECTION BEGINS FOR GENERAL PARAGRAPH  ---*/

.sectioninfotext {
	background-color: #CECECE;
	text-align:  center;
	border:  1px soid black;
	font-family: arial;
	font-size: 2em;
	padding: 80px 0px 10px 0px;
}
#s2 {
	font-size: 2em;
}

/*---  SECTION ENDS FOR GENERAL PARAGRAPH  ---*/
/*---  SECTION BEGINS FOR COLUMN OFFERINGS ---*/

.sectionoffering {
	display:  flex;
	flex-direction: row;
	justify-content:  space-around;

}
#firstcolumnoffering, #secondcolumnoffering  {
	font-family:  arial;
	width: 350px;
	height: 300px;
	margin:  10px;
	padding: 10px;
	border:  1px solid black;
}
#s4 {
	font-size: 1.5em;
	font-weight: bold;
	color: darkblue;
}

#s5 {
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}
#para1 {
	padding-top: 20px;
	color: grey;
}

li:before {
	content: '✔';
	color: #90D3D5;   
    margin-left: 1em;
    margin-right: 1.2em;
}
li {
	margin: 10px 0px 10px 0px;
}

ul {
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;

}

/*---  SECTION ENDS FOR COLUMN OFFERINGS ---*/
/*---  SECTION BEGINS FOR FOOTER ---*/
.footer {
	background-color: black;
}
#navibarbottom {
	display: flex;
	flex-flow: row;
	font-family:  arial;
	padding:  5px;
	font-size:  1em;
}
#navibarbottom a {
  color: white;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none; }

#navibarbottom a:hover {
  background-color: #dddd;
  color: black; }

.footerlogo img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: 20px; }

.copyright {
  text-align: center;
  font-family: arial;
  color: white; }

/*---  SECTION ENDS FOR FOOTER ---*/